<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/gmgc_logo"
        android:label="Easy Attendance"
        android:roundIcon="@drawable/gmgc_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.ajstudios.easyattendance.SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ajstudios.easyattendance.Reports_Detail_Activity"
            android:theme="@style/AppTheme2" />
        <activity android:name="com.ajstudios.easyattendance.Reports_Activity" />
        <activity
            android:name="com.ajstudios.easyattendance.ClassDetail_Activity"
            android:theme="@style/FullScreenTheme" />
        <activity
            android:name="com.ajstudios.easyattendance.Insert_class_Activity"
            android:theme="@style/AppTheme2" />
        <activity android:name="com.ajstudios.easyattendance.MainActivity" />
        <activity android:name="com.ajstudios.easyattendance.LoginActivity"/>
        <activity android:name="com.ajstudios.easyattendance.RegisterActivity" />
        <activity android:name="com.ajstudios.easyattendance.StudentDashboardActivity" />
        <activity android:name="com.ajstudios.easyattendance.SuperAdminActivity"
            android:theme="@style/AppTheme2" />
    </application>

</manifest>